@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;

}
main {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #000408;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  z-index: 99;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

header .navbar .menu-links {
  display: flex;
  gap: 30px;
}

.menu-links li {
  list-style-type: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.navbar button,
.search-button,
section div button {
  background-color: white;
  color: black;
  padding: 15px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
  transition: 0.2s ease;
}
.navbar button:hover,
.search-button:hover,
section div button:hover{
  background-color: #516269;
  color: white;
}

.menu-links {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.menu-links li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.menu-links a {
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  letter-spacing: 3px;
}
.menu-links a:before,
.menu-links a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-links a:before {
  top: 0;
  display: block;
  height: 3px;
  width: 0;
  content: "";
  background-color: #687b89;
}
.menu-links a:after {
  left: 0;
  top: 0;
  padding: 0.4em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0;
  overflow: hidden;
}
.menu-links a:hover:before,
.menu-links .current a:before {
  opacity: 1;
  width: 100%;
}
.menu-links a:hover:after,
.menu-links .current a:after {
  max-width: 100%;
}

.search-section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
}
.search-section .search {
  position: relative;
  top: 20vh;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  background-color: #000408;
  padding: 20px;
  overflow: hidden;
}

.search-section .search input {
  width: 80%;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
}
.search-section .search button {
  font-size: 1rem;
}

.search-section .search input:focus {
  outline: #7cbffa;
}
.search-section .search input:valid {
  background-color: white;
}
.search-button {
  margin-left: 60px;
}

.AboutUs-section,
.ContactUS-section,
.FAQ-section {
  background-color: #000408;
  padding: 50px;
  color: white;
  user-select: none;
}

.AboutUs-section div , .ContactUS-wrapper,
.FAQ-section div {
  max-width: 1200px;
  margin: 0 auto;
}
.AboutUs-section div h1 ,
.ContactUS-info h1,
.FAQ-section div h1 {
  font-size: 3.4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.AboutUs-section div p,
.FAQ-section div p {
  font-size: 1.3rem;
  line-height: 3rem;
  margin-bottom: 4rem;
}

.ContactUS-wrapper{
  display: flex;
  justify-content: space-between;
}

.text-img {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.ContactUS-form {
  margin-top: 60px;
  width: 40%;
}
.ContactUS-form input ,
.ContactUS-form textarea{
  width: 100%;
  padding: 10px 5px;
  margin: 15px 0;
  font-size: 1.2rem;
  border: none;
}
.ContactUS-form input:valid,
.ContactUS-form input:active,
.ContactUS-form textarea:active,
.ContactUS-form textarea:focus{
  outline:none;
}
.ContactUS-form input:focus,
.ContactUS-form textarea:focus{
  border: #677A88 solid 3px;
}
.ContactUS-form textarea {
  height: 15rem;
  resize: none;
}

.h1-FAQ {
  cursor: pointer;

}
.h1-FAQ {
  font-size: 1rem;
}
.h1-prim {
  color: #6C7F8D;
}
.FAQ-odgovor {
  width: 100%;
}

