<main style="background-image: url(../../../assets/icons/background.jpg)">
  <header>
    <nav class="navbar">
      <a class="logo"
        ><img src="../../../assets/icons/logo.png" height="45px" width="105px"
      /></a>
      <ul class="menu-links">
        <li class="current"><a href="#Home" data-hover="Home">Home</a></li>
        <li><a href="#AboutUs" data-hover="About Us">About Us</a></li>
        <li><a href="#FAQ" data-hover="FAQ">FAQ</a></li>
        <li><a href="#ContactUS" data-hover="Contact US">Contact US</a></li>
      </ul>
      <button class="button-login-header" (click)="logiraj()">Login</button>
    </nav>
  </header>

  <section class="search-section" id="Home">
    <div class="search">
      <input type="text" placeholder="Search #NBxxxxxxxx" />
      <button class="search-button">Search</button>
    </div>
  </section>

  <section id="AboutUs" class="AboutUs-section">
    <div class="AboutUs">
      <h1 class="h1-prim">#About Us</h1>
      <h1>Vaš pouzdani servisni centar za IT rješenja</h1>
      <p>
        Dobrodošli u IT SERVICE CENTER , Vaš servisni centar za sve IT potrebe.
        Nudimo širok spektar usluga za popravak i održavanje različitih
        tehnoloških uređaja, uključujući: Računara: Dijagnoza i popravak PC-a i
        Mac računara, nadogradnja hardvera, instalacija softvera, uklanjanje
        virusa i još mnogo toga. Mobiteli: Popravak slomljenih ekrana, zamjena
        baterija, otključavanje mobitela, softverska rješenja i servisiranje
        različitih modela mobitela. Tableti: Popravak ekrana, zamjena baterija,
        dijagnostika i rješavanje softverskih problema. Druga tehnologija:
        Servisiranje i popravak printera, skenera, routera, kamera i ostale
        tehnološke opreme.
      </p>
    </div>
  </section>

  <section id="FAQ" class="FAQ-section">
    <div class="AboutUs">
      <h1 class="h1-prim">#FAQ</h1>
      <div class="h1-FAQ" *ngFor="let x of this.podaciFAQ">
        <h1 (click)="showOdgovor(x.id)">{{ x.pitanje }}</h1>
        <div *ngIf="pitanje[x.id]" class="FAQ-odgovor">
          <p>-> {{ x.odgovor }}</p>
        </div>
      </div>
    </div>
  </section>

  <section id="ContactUS" class="ContactUS-section">
    <div class="ContactUS-wrapper">
      <div class="ContactUS-info">
        <h1 class="h1-prim">#Contact US</h1>
        <p>
          <span class="text-img">
            <img src="../../../assets/icons/karta.svg" height="30px" width="30px" />
            Novi grad 13 , Sarajevo , Bosna i hercegovina
          </span>
        </p>
        <p>
          <span class="text-img">
            <img src="../../../assets/icons/tel.svg" height="30px" width="30px" />
            000-000-0000
          </span>
        </p>
        <p>
          <span class="text-img">
            <img src="../../../assets/icons/email.svg" height="30px" width="30px" />
            itcenter&#64;gmail.com
          </span>
        </p>
      </div>

      <div class="ContactUS-form">
        <label>Name</label> <br />
        <input type="text" /><br />
        <label>Email</label> <br />
        <input type="email" /><br />
        <label>Message</label><br />
        <textarea></textarea><br />
        <button class="button-login-header">Submit</button>
      </div>


    </div>
  </section>
</main>
