<form #editForm="ngForm" *ngIf="this.adminPodaciFetch && this.showAdminForm">
  <h1>{{ formTitle }}</h1>

  <!--ime component-->
  <app-form-element-wrapper [className]="'form-group'" [imePolje]="ime" [labelFor]="'ime'" [label]="'Ime'">
    <input #ime="ngModel" [(ngModel)]="this.adminPodaciFetch!.ime"
           class="form-control"
           id="ime"
           minlength="3"
           name="ime"
           pattern='[A-Za-z\sčćžđ]+'
           required type="text"/>
  </app-form-element-wrapper>


  <app-form-element-wrapper [className]="'form-group'" [imePolje]="prezime" [labelFor]="'prezime'" [label]="'Prezime'">
    <input #prezime="ngModel"
           [(ngModel)]="this.adminPodaciFetch!.prezime"
           class="form-control"
           id="prezime"
           minlength="3"
           name="prezime" pattern='[A-Za-z\sčćžđ]+'
           required type="text"/>
  </app-form-element-wrapper>


  <!--username-->

  <app-form-element-wrapper [className]="'form-group'" [imePolje]="username" [labelFor]="'username'"
                            [label]="'Username'">
    <input #username="ngModel"
           [(ngModel)]="this.adminPodaciFetch!.username"
           class="form-control"
           id="username"
           minlength="3"
           name="username" pattern='[A-Za-z\sčćžđ]+'
           required type="text"/>
  </app-form-element-wrapper>

  <!--email-->

  <app-form-element-wrapper [className]="'form-group'" [imePolje]="email" [labelFor]="'email'"
                            [label]="'Email'">
    <input #email="ngModel"
           [(ngModel)]="this.adminPodaciFetch!.email"
           class="form-control"
           id="email"
           minlength="3"
           name="email"
           pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z\-]+\.)+[a-zA-Z]{2,}$"
           required type="email"/>
  </app-form-element-wrapper>


  <div class="form-group">
    <label for="Admin">Admin:</label>

    <input [(ngModel)]="this.adminPodaciFetch!.isAdmin" class="checkbox" id="Admin" name="isAdmin" type="checkbox"/>

  </div>

  <div class="form-group">
    <label for="adminServiser">Serviser:</label>
    <input [(ngModel)]="this.adminPodaciFetch!.isServiser" class="checkbox" id="adminServiser" name="adminServiser"
           type="checkbox"/>
  </div>

  <div class="form-group">
    <label for="adminProdavac">Prodavac:</label>
    <input [(ngModel)]="this.adminPodaciFetch!.isProdavac" class="checkbox" id="adminProdavac" name="adminProdavac"
           type="checkbox"/>
  </div>

  <!-- div to show 2 pictuers the old form-element-wrapper db and the new one uploaded -->

  <div>

    <label for="input-pic">Nova slika</label>
    <input (change)="onFileSelected($event);" accept="image/*" id="input-pic" type='file'/>

    <img class="oldPic"
         src="{{ConfigFile.adresa_servera}}/Admin/GetImg?username={{this.adminPodaciFetch!.username}}"/>
    <img class="newPic" src="{{ this.novaSlikaAdmin }}"/>

  </div>


  <!-- submit changes when everything is fine and valid -->

  <div class="div-button">
    <button (click)="closeEdit()" class="btn-zatvori" type="submit">
      Zatvori
    </button>
    <button (click)="snimi(editForm)" class="btn-save" type="submit">
      Snimi
    </button>
  </div>

</form>
