  <div class="div-table" *ngIf="showProdavacTable">
    <input
      type="text"
      [(ngModel)]="this.searchProdavac"
      placeholder="Pretraži prodavaca..."
    />
    <button (click)="dodajNovi()" class="dodaj">+ Dodaj Prodavac</button>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Username</th>
        <th>Email</th>
        <th>Grad ID</th>
        <th>Spol ID</th>
        <th>Is Prodavac</th>
        <th>Akcije</th>
      </tr>
      </thead>

      <tbody *ngFor="let x of filtrirajProdavac()">
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.ime }}</td>
        <td>{{ x.prezime }}</td>
        <td>{{ x.username }}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.gradID }}</td>
        <td>{{ x.spolID }}</td>
        <td>{{ x.isProdavac }}</td>
        <td>
          <button (click)="editProdavac(x)">Edit</button>
          <button class="brisiServiser" (click)="brisiProdavac(x.id)">
            Brisi
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <form *ngIf="editOdabraniProdavac">
    <div class="form-group">
      <label for="ime">Ime:</label>
      <input
        type="text"
        class="form-control"
        id="ime"
        name="ime"
        required
        [(ngModel)]="this.odabraniProdavac!.ime"
      />
    </div>
    <div class="form-group">
      <label for="prezime">Prezime:</label>
      <input
        type="text"
        class="form-control"
        id="prezime"
        name="prezime"
        required
        [(ngModel)]="this.odabraniProdavac!.prezime"
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        [(ngModel)]="this.odabraniProdavac!.email"
      />
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
        [(ngModel)]="this.odabraniProdavac!.username"
      />
    </div>

    <div class="form-group">
      <label for="Grad">Grad</label>
      <select
        id="Grad"
        name="Grad"
        class="select-grad"
        [(ngModel)]="this.odabraniProdavac!.gradID"
      >
        <option *ngFor="let x of this.gradPodaci" [value]="x.id">
          {{ x.naziv }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="isProdavac">Prodavac:</label>
      <input
        class="checkbox"
        type="checkbox"
        id="isProdavac"
        name="isProdavac"
        [(ngModel)]="this.odabraniProdavac!.isProdavac"
      />
    </div>
    <button type="submit" class="btn-save" (click)="sacuvajProdavac()">
      Save Prodavac
    </button>
    <button type="submit" class="btn-zatvori" (click)="zatvoriProdavacEdit()">
      Zatvori
    </button>
  </form>

<!--  Prodavac from add new -->
  <form *ngIf="showNoviProdavacForm">
    <div class="form-group">
      <label for="ime">Ime:</label>
      <input
        type="text"
        class="form-control"
        id="ime2"
        name="ime"
        required
        [(ngModel)]="this.odabraniProdavac!.ime"
      />
    </div>
    <div class="form-group">
      <label for="prezime">Prezime:</label>
      <input
        type="text"
        class="form-control"
        id="prezime2"
        name="prezime"
        required
        [(ngModel)]="this.odabraniProdavac!.prezime"
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email2"
        name="email"
        required
        [(ngModel)]="this.odabraniProdavac!.email"
      />
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username2"
        name="username"
        required
        [(ngModel)]="this.odabraniProdavac!.username"
      />
    </div>

    <div class="form-group">
      <label for="Grad">Grad</label>
      <select
        id="Grad2"
        name="Grad"
        class="select-grad"
        [(ngModel)]="this.odabraniProdavac!.gradID"
      >
        <option *ngFor="let x of this.gradPodaci" [value]="x.id">
          {{ x.naziv }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="isProdavac">Prodavac:</label>
      <input
        class="checkbox"
        type="checkbox"
        id="isProdavac2"
        name="isProdavac"
        [(ngModel)]="this.odabraniProdavac!.isProdavac"
      />
    </div>
    <button type="submit" class="btn-save" (click)="sacuvajProdavac()">
      Save Prodavac
    </button>
    <button type="submit" class="btn-zatvori" (click)="zatvoriProdavacEdit()">
      Zatvori
    </button>
  </form>


