<!-- table to show the fetch data form-element-wrapper db in table and CRUD operation for prodavac , it show only if set true -->

<div *ngIf="this.showProdavacTable" class="div-table">
  <input [(ngModel)]="this.searchProdavac" placeholder="Pretrazi prodavac....." type="text"/>
  <button (click)="dodajNovi()" class="dodaj">+ Dodaj Prodavac</button>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Username</th>
      <th>Email</th>
      <th>Grad ID</th>
      <th>Spol ID</th>
      <th>Is Prodavac</th>
      <th>Akcije</th>
    </tr>
    </thead>

    <tbody *ngFor="let x of filtrirajProdavac()">
    <tr>
      <td>{{ x.id }}</td>
      <td>{{ x.ime }}</td>
      <td>{{ x.prezime }}</td>
      <td>{{ x.username }}</td>
      <td>{{ x.email }}</td>
      <td>{{ x.gradID }}</td>
      <td>{{ x.spolID }}</td>
      <td>{{ x.isProdavac }}</td>
      <td>
        <button (click)="editProdavac(x)">Edit</button>
        <button (click)="brisiProdavac(x.id)" class="brisiProdavac"> Brisi</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="nav">
    <button (click)="goToPrev(currentPage)" class="button-Previous"> <<</button>

    <button (click)="goToPage(p)" *ngFor="let p of pageNumbersArray()" class="broj-page">
      {{ p }}
    </button>

    <button (click)="goToNext(currentPage)" class="button-next">
      >>
    </button>
  </div>
</div>

<!-- form edit for prodavac and it show only if bool is true the user press the button edit form-element-wrapper the table -->
<form #editForm='ngForm' *ngIf="showProdavacEdit" class="prodavacForm">
  <h1>{{ formTitle }}</h1>
  <div class="form-group">
    <label for="imeProdavac">Ime:</label>
    <input #ime_polje="ngModel" [(ngModel)]="this.odabraniProdavac!.ime" class="form-control" id="imeProdavac"
           minlength="3" name="ime" pattern='[A-Za-z\sčćžđ]+'
           required type="text"/>
  </div>

  <!-- div for validation and to print erros , it shows only on dirty , touched ,
    or when the user press submit button when fileds are invalid
    and it also use pattern to enter only characters without numbers
    same thing for prezime,username,email..etc
-->

  <div *ngIf="
      (ime_polje.invalid && (ime_polje.touched || ime_polje.dirty)) ||
      this.JelPopunjeno
    " class="greska-div">
    <span *ngIf="ime_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="ime_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="ime_polje.errors?.['minlength']">Minimum 3 karaktera</span>
  </div>

  <div class="form-group">
    <label for="prezimeProdavac">Prezime:</label>
    <input #prezime_polje="ngModel" [(ngModel)]="this.odabraniProdavac!.prezime" class="form-control"
           id="prezimeProdavac" name="prezime" pattern='[A-Za-z\sčćžđ]+'
           required type="text"/>
  </div>

  <div *ngIf="
      (prezime_polje.invalid && (prezime_polje.touched || prezime_polje.dirty)) ||
      this.JelPopunjeno
    " class="greska-div">
    <span *ngIf="prezime_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="prezime_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="prezime_polje.errors?.['minlength']">Minimum 3 karaktera</span>
  </div>

  <div class="form-group">
    <label for="usernameProdavac">Username:</label>
    <input #username_polje="ngModel" [(ngModel)]="this.odabraniProdavac!.username" class="form-control"
           id="usernameProdavac" minlength="5" name="username"
           pattern="[A-Za-z\s]+" required type="text"/>
  </div>

  <div *ngIf="
      (username_polje.invalid &&
        (username_polje.touched || username_polje.dirty)) ||
      this.JelPopunjeno
    " class="greska-div">
    <span *ngIf="username_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="username_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="username_polje.errors?.['minlength']">Minimum 5 karaktera</span>
  </div>

  <div class="form-group">
    <label for="emailProdavac">Email:</label>
    <input #email_polje="ngModel" [(ngModel)]="this.odabraniProdavac!.email" class="form-control" id="emailProdavac"
           name="email"
           pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z\-]+\.)+[a-zA-Z]{2,}$" required
           type="email"/>
  </div>

  <div *ngIf="
      (email_polje.invalid && (email_polje.touched || email_polje.dirty)) ||
      this.JelPopunjeno
    " class="greska-div">
    <span *ngIf="email_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="email_polje.errors?.['pattern']">Email adresa nije validna</span>
  </div>


  <div class="form-group">
    <label for="LozinkaProdavac">Lozinka:</label>
    <input #lozinka_polje="ngModel" [(ngModel)]="this.opcionalnaLozinka" class="form-control" id="LozinkaProdavac"
           name="lozinka" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
           type="password"/>
  </div>

  <div *ngIf="
      (lozinka_polje.invalid && (lozinka_polje.touched || lozinka_polje.dirty)) ||
      this.JelPopunjeno
    " class="greska-div">
    <span *ngIf="lozinka_polje.errors?.['pattern']">Lozinka mora biti 8 karaktera</span>
  </div>


  <div class="form-group">
    <label for="GradProdavac">Grad</label>
    <select [(ngModel)]="this.odabraniProdavac!.gradID" class="select-grad" id="GradProdavac" name="Grad">
      <option *ngFor="let x of this.gradPodaci" [value]="x.id">
        {{ x.naziv }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="isProdavac">Prodavac:</label>
    <input [(ngModel)]="this.odabraniProdavac!.isProdavac" class="checkbox" id="isProdavac" name="isProdavac"
           type="checkbox"/>
  </div>

  <!-- div to show 2 pictuers the old form-element-wrapper db and the new one uploaded -->

  <div>

    <label for="slika-input">Nova slika</label>
    <input (change)="onFileSelected($event);" accept="image/*" id="input-pic" type='file'/>

    <img class="oldPic" height="200"
         src="{{ConfigFile.adresa_servera}}/Prodavac/GetImg?username={{this.odabraniProdavac!.username}}"
         width="200"/>
    <img id="newPic" src="{{ this.novaSlikaProdavac }}"/>

  </div>

  <!-- submit changes when everything is fine and valid -->

  <div class="div-button">
    <button (click)="closeEdit()" class="btn-zatvori" type="submit">
      Zatvori
    </button>
    <button (click)="snimiProdavac(editForm)" class="btn-save" type="submit">
      Snimi
    </button>
  </div>

</form>


<!-- form to add new prodavac and it show only if bool is true the user press the button edit -->
<form #addForm='ngForm' *ngIf="showProdavacForm" class="prodavacForm">

  <h1>{{ formTitle }}</h1>

  <div class="form-group">
    <label for="ime">Ime:</label>
    <input #ime_polje="ngModel" [(ngModel)]="this.noviProdavac!.ime" class="form-control" id="ime" minlength="3"
           name="ime" pattern='[A-Za-z\sčćžđ]+'
           required type="text"/>
  </div>

  <!-- div for validation and to print erros , it shows only on dirty , touched ,
    or when the user press submit button when fileds are invalid
    and it also use pattern to enter only characters without numbers
    same thing for prezime,username,email..etc
-->

  <div *ngIf="
      (ime_polje.invalid && (ime_polje.touched || ime_polje.dirty)) ||
      this.JelPopunjeno
    " class="greska-div">
    <span *ngIf="ime_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="ime_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="ime_polje.errors?.['minlength']">Minimum 3 karaktera</span>
  </div>

  <div class="form-group">
    <label for="prezime">Prezime:</label>
    <input #prezime_polje="ngModel" [(ngModel)]="this.noviProdavac!.prezime" class="form-control" id="prezime"
           name="prezime" pattern='[A-Za-z\sčćžđ]+'
           required type="text"/>
  </div>

  <div *ngIf="
      (prezime_polje.invalid && (prezime_polje.touched || prezime_polje.dirty)) ||
      this.JelPopunjeno
    " class="greska-div">
    <span *ngIf="prezime_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="prezime_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="prezime_polje.errors?.['minlength']">Minimum 3 karaktera</span>
  </div>

  <div class="form-group">
    <label for="username">Username:</label>
    <input #username_polje="ngModel" [(ngModel)]="this.noviProdavac!.username" class="form-control" id="username"
           minlength="5" name="username" pattern="[A-Za-z\s]+"
           required type="text"/>
  </div>

  <div *ngIf="
      (username_polje.invalid &&
        (username_polje.touched || username_polje.dirty)) ||
      this.JelPopunjeno
    " class="greska-div">
    <span *ngIf="username_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="username_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="username_polje.errors?.['minlength']">Minimum 5 karaktera</span>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input #email_polje="ngModel" [(ngModel)]="this.noviProdavac!.email" class="form-control" id="email" name="email"
           pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z\-]+\.)+[a-zA-Z]{2,}$" required
           type="email"/>
  </div>

  <div *ngIf="
      (email_polje.invalid && (email_polje.touched || email_polje.dirty)) ||
      this.JelPopunjeno
    " class="greska-div">
    <span *ngIf="email_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="email_polje.errors?.['pattern']">Email adresa nije validna</span>
  </div>


  <div class="form-group">
    <label for="LozinkaProdavac">Lozinka:</label>
    <input #lozinka_polje="ngModel" [(ngModel)]="this.noviProdavac!.lozinka" class="form-control" id="LozinkaProdavac"
           name="lozinka"
           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required
           type="password"/>
  </div>

  <div *ngIf="
      (lozinka_polje.invalid && (lozinka_polje.touched || lozinka_polje.dirty)) ||
      this.JelPopunjeno
    " class="greska-div">
    <span *ngIf="lozinka_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="lozinka_polje.errors?.['pattern']">Lozinka mora biti 8 karaktera</span>
  </div>


  <div class="form-group">
    <label for="Grad">Grad</label>
    <select [(ngModel)]="this.noviProdavac!.gradID" class="select-grad" id="Grad" name="Grad">
      <option *ngFor="let x of this.gradPodaci" [value]="x.id">
        {{ x.naziv }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="adminProdavac">Prodavac:</label>
    <input [(ngModel)]="this.noviProdavac!.isProdavac" class="checkbox" id="adminProdavac" name="adminProdavac"
           type="checkbox"/>
  </div>

  <!-- div to show 2 pictuers the old form-element-wrapper db and the new one uploaded -->

  <div>

    <label for="slika-input">Nova slika</label>
    <input (change)="onFileSelected($event);" accept="image/*" id="input-pic" type='file'/>

    <img class="oldPic" height="200" src="{{ConfigFile.adresa_servera}}/Prodavac/GetImg?username=0" width="200"/>
    <img class="newPic" src="{{ this.novaSlikaProdavac }}"/>

  </div>

  <!-- submit changes when everything is fine and valid -->

  <div class="div-button">
    <button (click)="closeEdit()" class="btn-zatvori" type="submit">
      Zatvori
    </button>
    <button (click)="dodajProdavac(addForm)" class="btn-save" type="submit">
      Snimi
    </button>
  </div>

</form>
