<app-header></app-header>

<div class="admin-page">

    <div class="search-container">
        <input type="text" id="searchBar" class="search-bar" placeholder="Pretraži...">
        <button class="btn-back" (click)="goToDashboard()">Nazad na Dashboard</button>
    </div>
    
    <table class="technician-table">
        <thead>
        <tr>
            <th>ID tehničara</th>
            <th>Ime tehničara</th>
            <th>ID uređaja</th>
            <th>Opis</th>
            <th>Status</th>
            <th>Datum završetka</th>
            <th>Cijena</th>
            <th>Korišteni dijelovi</th>
            <th>Trenutni rad</th>
            <th>Prioritet</th>
            <th>Kontakt klijenta</th>
            <th>Vrijeme utrošeno</th>
            <th>Posljednje ažuriranje</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>T123</td>
            <td>Jasir</td>
            <td>1</td>
            <td>Zamjena baterije</td>
            <td><span class="status-completed">Završeno</span></td>
            <td>2024-11-04</td>
            <td>80 KM</td>
            <td>Baterija</td>
            <td>
                <ul>
                    <li><strong>ID uređaja 7:</strong> Monitor <br>
                        <span>Status: <span class="status-in-progress">U toku</span></span>
                    </li>
                </ul>
            </td>
            <td>Visok</td>
            <td>Email</td>
            <td>5 sati</td>
            <td>2024-11-04</td>
        </tr>
        <tr>
            <td>T124</td>
            <td>Ajdin</td>
            <td>2</td>
            <td>Popravka tastature</td>
            <td><span class="status-completed">Završeno</span></td>
            <td>2024-11-05</td>
            <td>50 KM</td>
            <td>Tastatura</td>
            <td>
                <ul>
                    <li><strong>ID uređaja 8:</strong> Hard disk <br>
                        <span>Status: <span class="status-in-progress">U toku</span></span>
                    </li>
                </ul>
            </td>
            <td>Srednji</td>
            <td>Telefon</td>
            <td>3 sata</td>
            <td>2024-11-05</td>
        </tr>
        </tbody>
    </table>
</div>
