.FAQ-section {
  background-color: #000408;
  padding: 50px;
  color: white;
  user-select: none;
}

.FAQ-section div {
  max-width: 1200px;
  margin: 0 auto;
}

.FAQ-section div h1 {
  font-size: 3.4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.FAQ-section div p {
  font-size: 1.3rem;
  line-height: 3rem;
  margin-bottom: 4rem;
}

.h2-FAQ {
  cursor: pointer;
  font-size: 1.4rem;
}
h2 {
  margin-bottom: 30px;
}

.h1-prim {
  color: #6c7f8d;
}
.FAQ-odgovor {
  width: 100%;
}
