main{
  margin : 10rem auto;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-back {
  padding: 0.75rem;
  background-color: #e53935; /* Red color for Back button */
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit {
  padding: 0.75rem;
  background-color: #1e88e5; /* Blue color for Submit button */
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-back:hover {
  background-color: #c62828;
}

.btn-submit:hover {
  background-color: #1565c0;
}

.admin-page {
  padding: 2rem;
  text-align: center;
}

h2{
  font-weight: bold;
  margin-bottom: 4px;
}

.admin-page h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #1e88e5;
}

.add-device-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #121212;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #1e88e5;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 0;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
}

.form-group input::placeholder {
  color: #888;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #1e88e5;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #1565c0;
}

.repair-table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  color: #fff;
}

.repair-table th,
.repair-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #333;
}

.repair-table th {
  background-color: #1e88e5;
  color: #fff;
}

.repair-table td {
  background-color: #121212;
}

.status-completed {
  color: #1e88e5;
}

.status-in-progress {
  color: #ffa726;
}

.search-container input.search-bar {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0;
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
}

.search-container input.search-bar::placeholder {
  color: #888;
}
