<app-header></app-header>
<main>

    <div class="admin-page">

        <h2>Dodaj novi uređaj</h2>

        <div class="add-device-form">
            <form id="deviceForm">
                <div class="form-group">
                    <label for="deviceId">ID uređaja</label>
                    <input type="text" id="deviceId" name="deviceId" value="D123" disabled />
                </div>

                <div class="form-group">
                    <label for="technicianId">ID tehničara</label>
                    <input type="text" id="technicianId" name="technicianId" value="T123" disabled />
                </div>

                <div class="form-group">
                    <label for="description">Opis</label>
                    <input type="text" id="description" name="description" placeholder="Unesite opis" required />
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" name="status" required>
                        <option value="In Progress">U toku</option>
                        <option value="Completed">Završeno</option>
                        <option value="Pending">Na čekanju</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="dateFinished">Datum završetka</label>
                    <input type="date" id="dateFinished" name="dateFinished" />
                </div>

                <div class="form-group">
                    <label for="price">Cijena</label>
                    <input type="number" id="price" name="price" placeholder="Unesite cijenu" required style="-moz-appearance: textfield; appearance: textfield;" />
                </div>

                <div class="form-group">
                    <label for="partsUsed">Korišteni dijelovi</label>
                    <input type="text" id="partsUsed" name="partsUsed" placeholder="Unesite korištene dijelove" required />
                </div>

                <div class="button-container">
                    <button type="button" class="btn-back" (click)="goBack()">Nazad</button>
                    <button type="submit" class="btn-submit">Dodaj uređaj</button>
                </div>
            </form>
        </div>
    </div>

</main>
