<main style="background-image: url(assets/background.jpg)">
  <div class="login-container">

    <div class="text-img">
      <img class="login-logo" src ="assets/login.svg" height="30" width="30">
        <h1 class="h1-prim">Login</h1>
    </div>


    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="lozinka">Lozinka</label>
        <input type="lozinka" id="lozinka" [(ngModel)]="lozinka" name="lozinka" required>
      </div>
      <button (click)="logirajSe()" type="submit">Login</button>
    </form>
  </div>
</main>
