<app-header></app-header>
<main style="background-image: url(../../../assets/icons/background.jpg)">
  <div class="login-container">

    <div class="text-img">
      <img class="login-logo" height="30" src="../../../assets/icons/login.svg" width="30">
      <h1 class="h1-prim">{{ 'Login'|translate }}</h1>
    </div>

    <form #login="ngForm" action="/auth" method="POST">
      <div [formGroup]="loginForm" class="form-group">

        <label for="username">{{ 'Username'|translate }}</label>
        <input formControlName="username" id="username" name="username" required type="username">

        <div
          *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty ||loginForm.controls['username'].touched) || this.JelLogiran"
          class="greska-email">
          <span *ngIf="loginForm.controls['username'].errors?.['required']">{{ 'Field Required'|translate }}</span>
        </div>

      </div>

      <div [formGroup]="loginForm" class="form-group">

        <label for="lozinka">{{ 'Password'|translate }}</label>
        <input formControlName="password" id="lozinka" name="lozinka" required type="password">

        <div *ngIf="loginForm.controls['password'].dirty ||loginForm.controls['password'].touched || this.JelLogiran"
             class="greska-password">
          <span *ngIf="loginForm.controls['password'].errors?.['required']">{{ 'Field Required'|translate }}</span>
        </div>

      </div>
      <button (click)="logirajSe(login)" type="submit">{{ 'Login'|translate }}</button>
    </form>


  </div>
</main>
