<header>
  <nav class="navbar">
    <a class="logo">
      <img src="../../../assets/icons/logo.png" height="45px" width="105px" />
    </a>
    <ul class="menu-links" [ngClass]="{ 'show': !this.openMenu, 'hidden': this.openMenu }">
      <img class="close-menu-icon" src="assets/icons/close.svg" alt="close" height="35" width="35"
        (click)="toggleMenu()" />
      <li class="current"><a href="#Home">{{'Home'|translate}}</a></li>
      <li><a href="#AboutUs">{{'About'|translate}}</a></li>
      <li><a href="#FAQ">{{'FAQ'|translate}}</a></li>
      <li><a href="#ContactUS">{{'Contact'|translate}}</a></li>
    </ul>
    <button class="btn" (click)="logirajSe()">{{'Login'|translate}}</button>
    <select name="" id="" (change)="promjeniLang($event)">
      <option [selected]='lang=== "en"' value="en">EN</option>
      <option [selected]='lang=== "bs"' value="bs">BA</option>
      <option [selected]='lang=== "es"' value="es">ES</option>
      <option [selected]='lang=== "gr"' value="gr">GR</option>
    </select>
  </nav>
  <img class="menu-icon" src="assets/icons/menu.svg" alt="menu" height="35" width="35" (click)="toggleMenu()" />
</header>
