<header>
  <nav class="navbar">
    <a class="logo">
      <img height="45px" src="../../../assets/icons/logo.png" width="105px"/>
    </a>
    <ul [ngClass]="{ 'show': !this.openMenu, 'hidden': this.openMenu }" class="menu-links">
      <img (click)="toggleMenu()" alt="close" class="close-menu-icon" height="35" src="assets/icons/close.svg"
           width="35"/>
      <li class="current"><a href="#Home">{{ 'Home'|translate }}</a></li>
      <li><a href="#AboutUs">{{ 'About'|translate }}</a></li>
      <li><a href="#FAQ">{{ 'FAQ'|translate }}</a></li>
      <li><a href="#ContactUS">{{ 'Contact'|translate }}</a></li>
    </ul>
    <button (click)="logirajSe()" *ngIf="!jeliLogiran" class="btn">{{ 'Log In'|translate }}</button>
    <button (click)="logirajSe()" *ngIf="jeliLogiran" class="btn">{{ 'Dashboard'|translate }}</button>
    <button (click)="logout()" *ngIf="jeliLogiran" class="btn">{{ 'Log Out'|translate }}</button>


    <select (change)="promjeniLang($event)" id="" name="">
      <option [selected]='lang=== "en"' value="en">EN</option>
      <option [selected]='lang=== "bs"' value="bs">BA</option>
      <option [selected]='lang=== "es"' value="es">ES</option>
      <option [selected]='lang=== "gr"' value="gr">GR</option>
    </select>
  </nav>
  <img (click)="toggleMenu()" alt="menu" class="menu-icon" height="35" src="assets/icons/menu.svg" width="35"/>
</header>
