header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #000408;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  z-index: 99;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  cursor: pointer;
  position: relative;
  padding: 13px 25px;
  background: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: all 1s;
}
.btn:after,
.btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.btn:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}
.btn:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
.btn:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn:hover:before,
.btn:hover:after {
  width: 100%;
  height: 100%;
}

header .navbar .menu-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-links {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-links li {
  list-style-type: none;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.menu-links li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.menu-links a {
  padding: 0.5em 0;
  color: white;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.menu-links a:hover {
  color: #5d707d;
}

.close-menu-icon,
.menu-icon {
  display: none;
}
.menu-links {
  margin-bottom: 0;
}

.menu-links.show {
  display: block;
}

select {
  width: 70px;
  padding: 10px;
  border: none;
  border-radius: 0;
}

@media only screen and (max-width: 960px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 40px;
    right: 230px;
    z-index: 5;
    cursor: pointer;
  }
  header {
    position: fixed;
  }
  .close-menu-icon {
    cursor: pointer;
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .menu-links {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000408;
    height: 45vh;
    width: 100%;
    flex-direction: column;
    padding: 50px;
    z-index: 6;
    overflow: hidden;
  }
  .menu-links.show {
    visibility: hidden;
  }

  .menu-links.hidden {
    visibility: visible;
  }
  .menu-links a {
    font-size: 2rem;
    overflow: hidden;
  }
  .navbar button {
    position: relative;
    right: 30px;
  }
}
@media only screen and (max-width: 370px) {
  img {
    display: none;
  }
}
