@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  user-select: none;
}
main {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  padding: 20px;
  background-color: #000408;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  z-index: 99;
}
nav {
  width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button,
ul button {
  background-color: white;
  color: black;
  padding: 15px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
  transition: 0.2s ease-in;
}
nav button:hover,
ul button:hover {
  background-color: #516269;
  color: white;
}
ul button {
  margin-top: 50px;
}
h1,h2 {
  color: white;
  font-size: 1.5rem;
}

.div-adminInfo {
  width: 15%;
  height: 100%;
  display: block;
  position: fixed;
  top: 100px;
  left: 0;
  background-color: #000408;
  box-shadow: 3px -2px 13px 0 rgba(0,0,0,0.75);
}
.menu-links {
  color: white;
  background-color: #000408;
  width: 100%;
  margin-top: 30px;
  align-items: center;
}

.menu-links li {
  color: white;
  padding: 20px;
  list-style-type: none;
  font-size: 1.2rem;
}
.menu-links li:hover {
  cursor: pointer;
  background-color: #516269;
}

.menu-links li img {
  position: relative;
  top: -3px;
  margin-right: 20px;
}

.title-img,
.avatar-button {
  display: flex;
  gap: 40px;
  align-items: center;
}
.title-img img {
  cursor: pointer;
}
.avatar-button {
  margin-left: 0;
}
.avatar-button img:hover {
  cursor: pointer;
}
.avatar-button h2 {
  color: white;
}

.div-adminEdit {
  width: 85%;
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: start;
  align-items: start;
  position: fixed;
  right: 0;
  top: 100px;
  overflow-y: auto;
}
.div-serviser ,
.div-prodavac,
.div-admin {
  width: 100%;
  overflow-y: auto;
}


