@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  user-select: none;
}
main {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  padding: 20px;
  background-color: #000408;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  z-index: 99;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button , ul button {
  background-color: white;
  color: black;
  padding: 15px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
  transition: 0.2s ease;
}
nav button:hover ,
ul button:hover {
  background-color: #516269;
  color: white;
}
ul button {
  margin-top: 50px;
}
h1{
  color: white;
}

.div-adminInfo{
  width: 20%;
  height: 100%;
  display: block;
  position: fixed;
  top: 100px;
  left: 0;
  background-color: #000408;
  transition: all 2s ease-in-out;
}
.menu-links {
  color: white;
  background-color: #000408;
  width: 100%;
}

.menu-links li {
  color: white;
  padding: 20px;
  list-style-type: none;
  font-size: 1.3rem;
}
.menu-links li:hover{
  cursor: pointer;
  background-color: #516269;
}

.menu-links li img {
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.title-img,
.avatar-button{
  display: flex;
  gap: 40px;
  align-items: center;
}
.title-img img{
  cursor: pointer;
}
.avatar-button {
  margin-left: 0;
}
.avatar-button img:hover{
  cursor: pointer;
}
.avatar-button h2{
  color: white;
}

.div-adminEdit {
  width: 80%;
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: start;
  align-items: start;
  position: fixed;
  right:0;
  top: 100px;
  transition: width 0.3s ease-in-out;
}
.div-adminEdit {
  width: 80%; /* Default width when menu is open */
  transition: width 0.3s ease-in-out; /* Add transition for smooth resizing */
}

.div-adminEdit.closed {
  width: 100%; /* Set width to 100% when menu is closed */
}

.div-table{
  background-color: #364049;
  width: 100%;
  height: fit-content;
}
.div-table input {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
td{
  color: white;
}
td button {
  border:none;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  padding: 10px;
  margin-right: 10px;
  width: 80px;
  height: 40px;
}
td button:hover{
  background-color: #516269;
  color: white;
}
td .brisiServiser:hover{
  background-color: #c58383;
  color: white;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 30px auto;
  padding: 30px;
  background-color: #000408;
  color: white;
  font-size: 1.1rem;
}
form input{
  padding: 7px;
  font-size: 1.3rem;
  outline: none;
  border: none;
  border-radius: 0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.form-group label {
  width: 120px;
  margin-right: 10px;
}

.form-control {
  flex: 1;
  padding: 5px 10px;
}

.btn-save,
.btn-zatvori{
  background-color: white;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 0;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  transition: 0.2s ease;
}
.btn-save:hover{
  background-color: #516269;
  color: white;
}
.btn-zatvori:hover{
  background-color: indianred;
  color: white;
}

form input:valid,
form input:active
{
  outline:none;
}
form input:focus
{
  border: #677A88 solid 3px;
}

.select-grad {
  width: 200px;
  padding: 15px;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0;
}
.select-grad option{
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0;
}
