<main style="background-image: url(../../../assets/icons/background.jpg)">
  <!--  header bar -->
  <header>
    <nav class="navbar">
      <h1>/Admin managment</h1>
      <div class="avatar-button">
        <h2>Ime Admina..</h2>
        <img
          ngSrc="../../../assets/icons/avatar.svg"
          height="50"
          width="50"
          alt="profile"
        />
        <button (click)="logout()">Logout</button>
      </div>
    </nav>
  </header>

  <!--  left menu bar -->
  <div class="div-adminInfo">
    <ul class="menu-links">
      <li (click)="serviser()">
        <img
          ngSrc="assets/icons/serviseri.svg"
          alt="serviseri"
          height="24"
          width="24"
        />Lista Servisera
      </li>
      <li (click)="prodavac()">
        <img
          ngSrc="../../../assets/icons/prodavac.svg"
          alt="prodavac"
          height="24"
          width="24"
        />Lista Prodavaca
      </li>
      <li (click)="fetchNalog()">
        <img
          ngSrc="../../../assets/icons/nalog.svg"
          alt="nalog"
          height="24"
          width="24"
        />Naloge korisnika
      </li>
      <li (click)="dodaj()">
        <img
          ngSrc="../../../assets/icons/dodajKorisnika.svg"
          alt="dodajKorisnika"
          height="24"
          width="24"
        />Dodaj novog korisnika
      </li>
      <li>
        <img
          ngSrc="../../../assets/icons/profile.svg"
          alt="profile"
          height="24"
          width="24"
        />Profil
      </li>
      <li (click)="idiHomepage()">
        <img
          ngSrc="../../../assets/icons/homepage.svg"
          alt="homepage"
          height="24"
          width="24"
        />Homepage
      </li>
      <li (click)="logout()">
        <img
          ngSrc="../../../assets/icons/logout.svg"
          alt="logout"
          height="24"
          width="24"
        />Logout
      </li>
    </ul>
  </div>

  <!--  right div for table and forms -->
  <div class="div-adminEdit">

    <!--  Serviser component (add , edit , delete) -->
    <div class="div-serviser" *ngIf="showServiser">
      <app-serviser></app-serviser>
    </div>

    <!--  Prodavac component (add , edit , delete) -->
    <div class="div-prodavac" *ngIf="showProdavac">
      <app-prodavac></app-prodavac>
    </div>

  </div>
</main>
