<main style="background-image: url(assets/background.jpg)">
  <header>
    <nav class="navbar">
      <button (click)="logout()">Logout</button>
    </nav>
  </header>
<div class="div-adminInfo">
  <H1>Admin info ....</H1>

  <ul class="menu-links">
    <li><img src="assets/users.svg" alt="lista-logo" height="24" width="24">Lista korisnika</li>
    <li><img src="assets/dodajKorisnika.svg" alt="lista-logo" height="24" width="24">Dodaj novog korisnika</li>
    <li><img src="assets/profile.svg" alt="lista-logo" height="24" width="24">Profil</li>
    <li><img src="assets/postavke.svg" alt="lista-logo" height="24" width="24">Postavke</li>
    <li><img src="assets/postavke.svg" alt="lista-logo" height="24" width="24">Logout</li>
  </ul>


</div>
<div class="div-adminEdit">div admin edit tools</div>
</main>
