<main style="background-image: url(assets/background.jpg)">
  <header>
    <nav class="navbar">
      <h1>/Admin managment</h1>
      <button (click)="logout()">Logout</button>
    </nav>
  </header>
<div class="div-adminInfo">

  <ul class="menu-links">
    <li (click)="fetchServiser()"><img src="assets/serviseri.svg" alt="lista-logo" height="24" width="24">Lista Servisera</li>
    <li (click)="fetchProdavac()"><img src="assets/prodavac.svg" alt="lista-logo" height="24" width="24">Lista Prodavaca</li>
    <li (click)="fetchNalog()"><img src="assets/nalog.svg" alt="lista-logo" height="24" width="24">Naloge korisnika</li>
    <li (click)="dodaj()"><img src="assets/dodajKorisnika.svg" alt="lista-logo" height="24" width="24">Dodaj novog korisnika</li>
    <li><img src="assets/profile.svg" alt="lista-logo" height="24" width="24">Profil</li>
    <li><img src="assets/postavke.svg" alt="lista-logo" height="24" width="24">Postavke</li>
    <li (click)="logout()"><img src="assets/logout.svg" alt="lista-logo" height="24" width="24">Logout</li>
  </ul>
</div>

<div class="div-adminEdit">
  
</div>
</main>
