<section id="ContactUS" class="ContactUS-section">
  <div class="ContactUS-wrapper">
    <div class="ContactUS-info">
      <h1 class="h1-prim">#Contact US</h1>
      <p>
          <span class="text-img">
            <img
              src="../../../assets/icons/karta.svg"
              height="30px"
              width="30px"
            />
            Novi grad 13 , Sarajevo , Bosna i hercegovina
          </span>
      </p>
      <p>
          <span class="text-img">
            <img
              src="../../../assets/icons/tel.svg"
              height="30px"
              width="30px"
            />
            000-000-0000
          </span>
      </p>
      <p>
          <span class="text-img">
            <img
              src="../../../assets/icons/email.svg"
              height="30px"
              width="30px"
            />
            itcenter&#64;gmail.com
          </span>
      </p>
    </div>

    <div class="ContactUS-form">
      <label>Name</label> <br />
      <input type="text" /><br />
      <label>Email</label> <br />
      <input type="email" /><br />
      <label>Message</label><br />
      <textarea></textarea><br />
      <button class="button-login-header">Submit</button>
    </div>
  </div>
</section>
