<section id="ContactUS" class="ContactUS-section">
  <div class="ContactUS-wrapper">
    <div class="ContactUS-info">
      <h1 class="h1-prim">{{'#Contact US' | translate}}</h1>
      <p>
        <span class="text-img">
          <img ngSrc="assets/icons/karta.svg" alt="karta" height="24" width="24" />
          Novi grad 13 , Sarajevo , Bosna i hercegovina
        </span>
      </p>
      <p>
        <span class="text-img">
          <img ngSrc="assets/icons/tel.svg" alt="tel" height="24" width="24" />
          000-000-0000
        </span>
      </p>
      <p> <span class="text-img">
          <img ngSrc="assets/icons/email.svg" alt="email" height="24" width="24" />
          itcenter&#64;gmail.com
        </span>
      </p>
    </div>


    <!-- form to send data,info and contact the IT service center  -->

    <form class="ContactUS-form" [formGroup]="kontaktForm">
      <label>{{'Name'|translate}}</label> <br />
      <input name="ime" type="text" placeholder="{{'Name'|translate}}" formControlName="ime" required /><br />

      <!-- div for validation and to print erros , it shows only on dirty , touched ,
    or when the user press submit button when fileds are invalid
    and it also use pattern to enter only characters without numbers
    same thing for prezime,username,email..etc
-->
      <div class="greska-ime"
        *ngIf="kontaktForm.controls['ime'].invalid && (kontaktForm.controls['ime'].touched || kontaktForm.controls['ime'].dirty) || this.JelPopunjeno">
        <span *ngIf="kontaktForm.controls['ime'].errors?.['required']">{{'Field Required'|translate}}</span>
        <span *ngIf="kontaktForm.controls['ime'].errors?.['minlength']">{{'Minimum 5 karaktera'|translate}}</span>
      </div>

      <label>Email</label> <br />
      <input name="email" type="email" required placeholder="{{'Email'|translate}}" formControlName="email" /><br />
      <div class="greska-ime"
        *ngIf="kontaktForm.controls['email'].invalid && (kontaktForm.controls['email'].touched || kontaktForm.controls['email'].dirty) || this.JelPopunjeno">
        <span *ngIf="kontaktForm.controls['email'].errors?.['required']">{{'Field Required'|translate}}</span>
        <span *ngIf="kontaktForm.controls['email'].errors?.['email']">
        </span> {{'Email address is not valid'|translate}}
      </div>

      <label>{{'message'|translate}}</label><br />
      <textarea name="poruka" required placeholder="{{'message'|translate}}" formControlName="poruka"></textarea><br />
      <div class="greska-ime"
        *ngIf="kontaktForm.controls['poruka'].invalid && (kontaktForm.controls['poruka'].touched || kontaktForm.controls['poruka'].dirty) || this.JelPopunjeno">
        <span *ngIf="kontaktForm.controls['poruka'].errors?.['required']">{{'Field Required'|translate}}</span>
        <span *ngIf="kontaktForm.controls['poruka'].errors?.['minlength']">{{"Minimum 20 Characters"|translate}}</span>
      </div>
      <button (click)="posalji()" class="button-login-header">{{"Submit"|translate}}</button>
    </form>

  </div>
</section>