<form #pretregaForm="ngForm">
  <section class="search-section" id="Home">
    <div class="search">

      <h1>#Pretrega Nalog</h1>

      <div class='input-button'>
        <input #input_polje='ngModel' [(ngModel)]="this.pretregaObj.sifra" type="text"
          placeholder="Unesite sifru naloga ......" name='pretrega' minlength="5" required />
        <button class="search-button" (click)="pretrega()">Pretrega >></button>
      </div>
      <div class="greska-div"
        *ngIf="(this.input_polje.invalid && (this.input_polje.dirty || this.input_polje.touched) || this.jelPopunjeno)">
        <span *ngIf="input_polje.errors?.['required']">Polje je obavezno</span>
        <span *ngIf="input_polje.errors?.['minlength']">Minimum 5 karaktera</span>
      </div>
    </div>
  </section>
</form>