.search-button {
  background-color: white;
  color: black;
  padding: 18px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.2s ease;
  overflow: hidden;
  width: 150px;
  margin-left: 0;
}
.search-button:hover {
  background-color: #516269;
  color: white;
}

.search-section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
  overflow: hidden;
}
.search-section .search {
  padding: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10vh;
  color: #fff;
  max-width: 1215px;
  margin: 0 auto;
  height: 300px;
  background-color: #000408;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
input {
  width: 600px;
  outline: none;
  border: none;
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: 600;
  overflow: hidden;
  padding: 18px 20px;
}

.search-section .search input:focus {
  outline: #7cbffa;
}
.search-section .search input:valid {
  background-color: white;
}
.search-button {
  margin-left: 60px;
}
button {
  overflow: hidden;
}
.greska-div {
  margin-top: 30px;
}
h1 {
  width: 100%;
  margin: 10px 0 20px;
  font-size: 3rem;
  color: #6c7f8d;
}
.input-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.greska-div {
  position: relative;
  bottom: 20px;
  left: 0;
  width: 70%;
  color: indianred;
  font-weight: 600;
  margin-bottom: 20px;
}
@media only screen and (max-width: 700px) {
  h1 {
    margin: 20px 0;
    font-size: 2.5rem;
    color: #6c7f8d;
  }
  div.search {
    width: 700px;
  }
  input {
    width: 98%;
  }

  .input-button {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .search-button {
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
    width: 120px;
    height: 60px;
    font-size: 1rem;
  }
  .search-section .search {
    height: 300px;
  }
}
@media only screen and (max-width: 412px) {
  .search-section .search {
    height: 380px;
  }
}
