<form #pretregaForm="ngForm">
  <section class="search-section" id="Home">
    <div class="search">

      <h1>{{'#Search Nalog'|translate}}</h1>

      <div class='input-button'>
        <input #input_polje='ngModel' [(ngModel)]="this.pretregaObj.sifra" type="text"
          placeholder="{{'Enter the code here ...... '|translate}}" name='pretrega' minlength="5" required />
        <button class="search-button" (click)="pretrega()">{{'Search'|translate}}</button>
      </div>
      <div class="greska-div"
        *ngIf="(this.input_polje.invalid && (this.input_polje.dirty || this.input_polje.touched) || this.jelPopunjeno)">
        <span *ngIf="input_polje.errors?.['required']">{{'Field Required'|translate}}</span>
        <span *ngIf="input_polje.errors?.['minlength']">{{'Minimum 5 Characters'|translate}}</span>
      </div>
    </div>
  </section>
</form>
