header {
  background-color: #02060a;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 100px;
  padding: 10px;
}
header,
.search,
.signin,
.about {
  box-shadow: -3px 5px 5px 0px rgba(31, 31, 31, 0.75);
  -webkit-box-shadow: -3px 5px 5px 0px rgba(31, 31, 31, 0.75);
  -moz-box-shadow: -3px 5px 5px 0px rgba(31, 31, 31, 0.75);
}

main {
  height: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.navbar {
  margin-right: 100px;
}
.nav-link {
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 20px 0px;
  margin: 0px 50px;
  display: inline-block;
  position: relative;
  opacity: 0.9;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.divLogo {
  margin-left: 250px;
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
}
.signin,
.search {
  width: 500px;
  height: 500px;
  background-color: #02060a;
  padding: 20px;
  margin-left: 250px;
  margin-top: 100px;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}
.signin-text {
  text-align: left;
  width: 120px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 10px;
  background-color: white;
  color: #02060a;
  margin: 40px;
}
input {
  width: 250px;
  padding: 15px;
  border-radius: 0;
  border: none;
  margin-left: 50px;
  font-family: monospace;
  font-size: 17px;
}
input:focus {
  outline: #abb2b8;
}
input:valid {
  background-color: #abb2b8;
}

.button {
  margin-top: 40px;
  width: 100%;
  height: 50px;
  background-color: white;
}
.button-text {
  padding: 15px;
  margin-top: 10px;
  color: black;
}
.button-text:hover {
  background-color: #516269;
  cursor: pointer;
}

.search {
  width: 500px;
  height: 400px;
  margin-right: 150px;
}

.search-text {
  text-align: left;
  width: 100px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 10px;
  background-color: white;
  color: #02060a;
  margin: 40px;
}
.about-title {
  background-color: white;
  color: #02060a;
  padding: 20px;
  width: 150px;
  margin: 50px 0px 50px 250px;
  font-weight: bolder;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.about {
  background-color: #02060a;
  color: white;
  padding: 20px;
  margin-top: 200px;
  width: 100%;
  height: 500px;
  color: white;
  font-family: monospace;
  font-size: 17px;
  height: auto;
}

.h1-about {
  margin-left: 250px;
  margin-bottom: 20px;
  padding: 10px;
  letter-spacing: 2px;
}
.p-about {
  margin-left: 250px;
  margin-right: 150px;
  background-color: #516269;
  padding: 40px;
  font-weight: bloder;
  font-size: 1.2rem;
  line-height: 35px;
}
