.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.form-group label {
  width: 120px;
  margin-right: 10px;
}

.greska-div {
  width: 70%;
  margin-left: 16%;
  color: indianred;
  font-size: small;
  font-weight: 600;
  margin-bottom: 10px;
}
