<div class="{{ className }}">
  <label for="{{ labelFor }}">{{ label }}</label>
  <ng-content></ng-content>
</div>

<div *ngIf="
      (imePolje.invalid && (imePolje.touched || imePolje.dirty)) ||
      this.JelPopunjeno" class="greska-div">

  <div *ngIf="label ==='Email' ">
    <span *ngIf="imePolje.errors?.['required']">{{ Poruke.required }}</span>
    <span *ngIf="imePolje.errors?.['pattern']">{{ Poruke.email }}</span>
  </div>

  <div *ngIf="label ==='Ime' || label ==='Username'|| label ==='Prezime'">
    <span *ngIf="imePolje.errors?.['pattern']">{{ Poruke.pattern }}</span>
    <span *ngIf="imePolje.errors?.['required']">{{ Poruke.required }}</span>
    <span *ngIf="imePolje.errors?.['minlength']">{{ Poruke.minlength3 }}</span>
  </div>

</div>



