<div *ngIf="this.showServiserTable" class="div-table">
  <input [(ngModel)]="this.searchServiser" placeholder="Pretrazi serviser ..." type="text"/>
  <button (click)="dodajNovi()" class="dodaj">+ Dodaj Serviser</button>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Username</th>
      <th>Email</th>
      <th>Grad ID</th>
      <th>Spol ID</th>
      <th>Is Serviser</th>
      <th>Akcije</th>
    </tr>
    </thead>

    <tbody *ngFor="let x of filtrirajServiser()">
    <tr>
      <td>{{ x.id }}</td>
      <td>{{ x.ime }}</td>
      <td>{{ x.prezime }}</td>
      <td>{{ x.username }}</td>
      <td>{{ x.email }}</td>
      <td>{{ x.gradID }}</td>
      <td>{{ x.spolID }}</td>
      <td>{{ x.isServiser }}</td>
      <td>
        <button (click)="editServiser(x)">Edit</button>
        <button (click)="brisiServiser(x.id)" class="brisiServiser"> Brisi</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="nav">
    <button (click)="goToPrev(currentPage)" class="button-Previous">
      <<
    </button>

    <button (click)="goToPage(p)" *ngFor="let p of pageNumbersArray()" class="broj-page">
      {{ p }}
    </button>

    <button (click)="goToNext(currentPage)" class="button-next"> >></button>
  </div>
</div>

<form #addForm='ngForm' *ngIf="showServiserForm" class="serviserForm">
  <h1>{{ formTitle }}</h1>

  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [imePolje]="ime"
    [labelFor]="'ime'"
    [label]="'Ime'"
  >

    <input #ime="ngModel"
           [(ngModel)]="this.noviServiser!.ime"
           class="form-control"
           id="ime"
           minlength="3"
           name="ime"
           pattern='[A-Za-z\sčćžđ]+'
           required
           type="text"/>

  </app-form-element-wrapper>


  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [imePolje]="prezime"
    [labelFor]="'prezime'"
    [label]="'Prezime'">

    <input #prezime="ngModel"
           [(ngModel)]="this.noviServiser!.prezime"
           class="form-control"
           id="prezime"
           name="prezime"
           pattern='[A-Za-z\sčćžđ]+'
           required
           type="text"/>

  </app-form-element-wrapper>

  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [imePolje]="username"
    [labelFor]="'username'"
    [label]="'Username'">

    <input #username="ngModel"
           [(ngModel)]="this.noviServiser!.username"
           class="form-control"
           id="username"
           minlength="5"
           name="username"
           pattern="[A-Za-z\s]+"
           required
           type="text"/>

  </app-form-element-wrapper>


  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [imePolje]="email"
    [labelFor]="'email'"
    [label]="'Email'"
  >

    <input #email="ngModel"
           [(ngModel)]="this.noviServiser!.email"
           class="form-control"
           id="email"
           minlength="5"
           name="email"
           pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z\-]+\.)+[a-zA-Z]{2,}$"
           required type="email"/>

  </app-form-element-wrapper>


  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [imePolje]="lozinka"
    [labelFor]="'lozinka'"
    [label]="'Lozinka'">

    <input #lozinka="ngModel"
           [(ngModel)]="this.noviServiser!.lozinka"
           class="form-control"
           id="LozinkaServiser"
           name="lozinka"
           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
           required
           type="password"/>

  </app-form-element-wrapper>


  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [labelFor]="'grad'"
    [label]="'Grad'">

    <select [(ngModel)]="this.noviServiser!.gradID"
            class="select-grad"
            id="Grad2"
            name="Grad">

      <option *ngFor="let x of this.gradPodaci" [value]="x.id">
        {{ x.naziv }}
      </option>
    </select>

  </app-form-element-wrapper>

  <div class="form-group">
    <label for="serviser">Serviser:</label>
    <input [(ngModel)]="this.noviServiser!.isServiser" class="checkbox" id="serviser" name="serviser" type="checkbox"/>
  </div>

  <div>
    <label for="input-pic2">Nova slika</label>
    <input (change)="onFileSelected($event);" accept="image/*" id="input-pic2" type='file'/>
    <img class="oldPic" height="200" src="{{ConfigFile.adresa_servera}}/Serviser/GetImg?username=0" width="200"/>
    <img class="newPic" src="{{ this.novaSlika }}"/>
  </div>

  <div class="div-button">
    <button (click)="closeEditWindow()" class="btn-zatvori" type="submit">
      Zatvori
    </button>
    <button (click)="dodajServiser(addForm)" class="btn-save" type="submit">
      Dodaj
    </button>
  </div>
</form>


<!--editForm-->
<form #editForm='ngForm' *ngIf="showServiserEdit" class="serviserForm">
  <h1>{{ formTitle }}</h1>


  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [imePolje]="ime"
    [labelFor]="'imeEdit'"
    [label]="'Ime'">

    <input #ime="ngModel"
           [(ngModel)]="this.odabraniServiser!.ime"
           class="form-control"
           id="imeEdit"
           minlength="3"
           name="imeEdit"
           pattern='[A-Za-z\sčćžđ]+'
           required
           type="text"/>

  </app-form-element-wrapper>


  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [imePolje]="prezime"
    [labelFor]="'prezime'"
    [label]="'Prezime'">

    <input #prezime="ngModel"
           [(ngModel)]="this.odabraniServiser!.prezime"
           class="form-control"
           id="prezimeEdit"
           minlength="3"
           name="prezimeEdit"
           pattern='[A-Za-z\sčćžđ]+'
           required
           type="text"/>

  </app-form-element-wrapper>


  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [imePolje]="username"
    [labelFor]="'username'"
    [label]="'Username'">

    <input #username="ngModel"
           [(ngModel)]="this.odabraniServiser!.username"
           class="form-control"
           id="usernameEdit"
           minlength="3"
           name="usernameEdit"
           pattern='[A-Za-z\sčćžđ]+'
           required
           type="text"/>

  </app-form-element-wrapper>

  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [imePolje]="email"
    [labelFor]="'email'"
    [label]="'Email'">

    <input #email="ngModel"
           [(ngModel)]="this.odabraniServiser!.email"
           class="form-control"
           id="emailEdit"
           minlength="5"
           name="emailEdit"
           pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z\-]+\.)+[a-zA-Z]{2,}$"
           required type="email"/>

  </app-form-element-wrapper>


  <app-form-element-wrapper

    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [imePolje]="lozinka"
    [labelFor]="'lozinka'"
    [label]="'Nova Lozinka'">

    <input #lozinka="ngModel"
           [(ngModel)]="this.opcionalnaLozinka"
           class="form-control"
           id="lozikaEdit"
           name="lozikaEdit"
           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
           type="password"/>

  </app-form-element-wrapper>


  <app-form-element-wrapper
    
    [JelPopunjeno]="jelPopunjeno"
    [className]="'form-group'"
    [labelFor]="'grad'"
    [label]="'Grad'">

    <select [(ngModel)]="this.odabraniServiser!.gradID" class="select-grad" id="Grad" name="Grad">
      <option *ngFor="let x of this.gradPodaci" [value]="x.id">
        {{ x.naziv }}
      </option>
    </select>

  </app-form-element-wrapper>

  <div class="form-group">
    <label for="isServiser">Serviser:</label>
    <input [(ngModel)]="this.odabraniServiser!.isServiser" class="checkbox" id="isServiser" name="isServiser"
           type="checkbox"/>
  </div>


  <div>

    <label for="input-pic">Nova slika</label>
    <input (change)="onFileSelected($event);" accept="image/*" id="input-pic" type='file'/>

    <img class="oldPic" height="200"
         src="{{ConfigFile.adresa_servera}}/Serviser/GetImg?username={{this.odabraniServiser?.username?.toLocaleLowerCase()}}"
         width="200"/>

    <img class="newPic" src="{{ this.novaSlika }}"/>

  </div>


  <div class="div-button">
    <button (click)="closeEditWindow()" class="btn-zatvori" type="submit">
      Zatvori
    </button>
    <button (click)="snimiServiser(editForm)" class="btn-save" type="submit">
      Snimi
    </button>
  </div>

</form>


