<!-- table to show the fetch data from db in table and CRUD operation for Serviser , it show only if set true -->

<div class="div-table" *ngIf="this.showServiserTable">
  <input type="text" [(ngModel)]="this.searchServiser" placeholder="Pretraži servise..." />
  <button (click)="dodajNovi()" class="dodaj">+ Dodaj Serviser</button>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Username</th>
        <th>Email</th>
        <th>Grad ID</th>
        <th>Spol ID</th>
        <th>Is Serviser</th>
        <th>Akcije</th>
      </tr>
    </thead>

    <tbody *ngFor="let x of filtrirajServiser()">
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.ime }}</td>
        <td>{{ x.prezime }}</td>
        <td>{{ x.username }}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.gradID }}</td>
        <td>{{ x.spolID }}</td>
        <td>{{ x.isServiser }}</td>
        <td>
          <button (click)="editServiser(x)">Edit</button>
          <button class="brisiServiser" (click)="brisiServiser(x.id)"> Brisi </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="nav">
    <button class="button-Previous" (click)="goToPrev(currentPage)">Previous</button>

    <button class="broj-page" *ngFor="let p of pageNumbersArray()" (click)="goToPage(p)">
      {{p}}
    </button>

    <button class="button-next" (click)="goToNext(currentPage)">Next</button>
  </div>
</div>



<!-- form edit for Serviser and it show only if bool is true the user press the button edit from the table -->
<form class="serviserForm" *ngIf="showServiserEdit" #editForm='ngForm'>
  <h1>{{ formTitle }}</h1>
  <div class="form-group">
    <label for="ime">Ime:</label>
    <input type="text" class="form-control" id="ime" name="ime" required minlength="3" pattern='[A-Za-z\sčćžđ]+'
      #ime_polje="ngModel" [(ngModel)]="this.odabraniServiser!.ime" />
  </div>

  <!-- div for validation and to print erros , it shows only on dirty , touched ,
    or when the user press submit button when fileds are invalid
    and it also use pattern to enter only characters without numbers
    same thing for prezime,username,email..etc
-->

  <div class="greska-div" *ngIf="
      (ime_polje.invalid && (ime_polje.touched || ime_polje.dirty)) ||
      this.JelPopunjeno
    ">
    <span *ngIf="ime_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="ime_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="ime_polje.errors?.['minlength']">Minimum 3 karaktera</span>
  </div>

  <div class="form-group">
    <label for="prezime">Prezime:</label>
    <input type="text" class="form-control" id="prezime" name="prezime" required pattern='[A-Za-z\sčćžđ]+'
      #prezime_polje="ngModel" [(ngModel)]="this.odabraniServiser!.prezime" />
  </div>

  <div class="greska-div" *ngIf="
      (prezime_polje.invalid && (prezime_polje.touched || prezime_polje.dirty)) ||
      this.JelPopunjeno
    ">
    <span *ngIf="prezime_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="prezime_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="prezime_polje.errors?.['minlength']">Minimum 3 karaktera</span>
  </div>

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username" required minlength="5" pattern="[A-Za-z\s]+"
      #username_polje="ngModel" [(ngModel)]="this.odabraniServiser!.username" />
  </div>

  <div class="greska-div" *ngIf="
      (username_polje.invalid &&
        (username_polje.touched || username_polje.dirty)) ||
      this.JelPopunjeno
    ">
    <span *ngIf="username_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="username_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="username_polje.errors?.['minlength']">Minimum 5 karaktera</span>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" required
      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z\-]+\.)+[a-zA-Z]{2,}$" #email_polje="ngModel"
      [(ngModel)]="this.odabraniServiser!.email" />
  </div>

  <div class="greska-div" *ngIf="
      (email_polje.invalid && (email_polje.touched || email_polje.dirty)) ||
      this.JelPopunjeno
    ">
    <span *ngIf="email_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="email_polje.errors?.['pattern']">Email adresa nije validna</span>
  </div>

  <div class="form-group">
    <label for="Grad">Grad</label>
    <select id="Grad" name="Grad" class="select-grad" [(ngModel)]="this.odabraniServiser!.gradID">
      <option *ngFor="let x of this.gradPodaci" [value]="x.id">
        {{ x.naziv }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="Serviser">Serviser:</label>
    <input class="checkbox" type="checkbox" id="Serviser" name="Serviser"
      [(ngModel)]="this.odabraniServiser!.isServiser" />
  </div>

  <!-- div to show 2 pictuers the old from db and the new one uploaded -->

  <div class="form-group">
    <label for="slika-input" class="slika-label">Nova slika</label>
    <input id="slika-input" name="slika-input" type="file" accept="image/*" (change)="generisiPreview()" />
    <img src={{showSlikaFromDB()}} height="200" width="200" alt="slika" class="slika" />
    <img src={{this.odabraniServiser!.slikaKorisnikaNovaString}} height="200" width="200" alt="Nova Slika"
      class="slika" />
  </div>

  <!-- submit changes when everything is fine and valid -->

  <div class="div-button">
    <button type="submit" class="btn-zatvori" (click)="closeEdit()">
      Zatvori
    </button>
    <button type="submit" class="btn-save" (click)="snimiServiser(editForm)">
      Snimi
    </button>
  </div>

</form>




<!-- form to add new serviser and it show only if bool is true the user press the button edit -->
<form class="prodavacForm" *ngIf="showServiserForm" #addForm='ngForm'>
  <h1>{{ formTitle }}</h1>
  <div class="form-group">
    <label for="ime">Ime:</label>
    <input type="text" class="form-control" id="ime" name="ime" required minlength="3" pattern='[A-Za-z\sčćžđ]+'
      #ime_polje="ngModel" [(ngModel)]="this.noviServiser!.ime" />
  </div>

  <!-- div for validation and to print erros , it shows only on dirty , touched ,
    or when the user press submit button when fileds are invalid
    and it also use pattern to enter only characters without numbers
    same thing for prezime,username,email..etc
-->

  <div class="greska-div" *ngIf="
      (ime_polje.invalid && (ime_polje.touched || ime_polje.dirty)) ||
      this.JelPopunjeno
    ">
    <span *ngIf="ime_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="ime_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="ime_polje.errors?.['minlength']">Minimum 3 karaktera</span>
  </div>

  <div class="form-group">
    <label for="prezime">Prezime:</label>
    <input type="text" class="form-control" id="prezime" name="prezime" required pattern='[A-Za-z\sčćžđ]+'
      #prezime_polje="ngModel" [(ngModel)]="this.noviServiser!.prezime" />
  </div>

  <div class="greska-div" *ngIf="
      (prezime_polje.invalid && (prezime_polje.touched || prezime_polje.dirty)) ||
      this.JelPopunjeno
    ">
    <span *ngIf="prezime_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="prezime_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="prezime_polje.errors?.['minlength']">Minimum 3 karaktera</span>
  </div>

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username" required minlength="5" pattern="[A-Za-z\s]+"
      #username_polje="ngModel" [(ngModel)]="this.noviServiser!.username" />
  </div>

  <div class="greska-div" *ngIf="
      (username_polje.invalid &&
        (username_polje.touched || username_polje.dirty)) ||
      this.JelPopunjeno
    ">
    <span *ngIf="username_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="username_polje.errors?.['pattern']">Polje mora biti karakteri</span>
    <span *ngIf="username_polje.errors?.['minlength']">Minimum 5 karaktera</span>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" required
      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z\-]+\.)+[a-zA-Z]{2,}$" #email_polje="ngModel"
      [(ngModel)]="this.noviServiser!.email" />
  </div>

  <div class="greska-div" *ngIf="
      (email_polje.invalid && (email_polje.touched || email_polje.dirty)) ||
      this.JelPopunjeno
    ">
    <span *ngIf="email_polje.errors?.['required']">Polje je obavezno</span>
    <span *ngIf="email_polje.errors?.['pattern']">Email adresa nije validna</span>
  </div>

  <div class="form-group">
    <label for="Grad">Grad</label>
    <select id="Grad" name="Grad" class="select-grad" [(ngModel)]="this.noviServiser!.gradID">
      <option *ngFor="let x of this.gradPodaci" [value]="x.id">
        {{ x.naziv }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="serviser">Prodavac:</label>
    <input class="checkbox" type="checkbox" id="serviser" name="serviser" [(ngModel)]="this.noviServiser!.isServiser" />
  </div>

  <!-- div to show 2 pictuers the old from db and the new one uploaded -->

  <div class="form-group">
    <label for="slika-input" class="slika-label">Nova slika</label>
    <input id="slika-input" name="slika-input" type="file" accept="image/*" (change)="generisiPreviewZaNovi()" />
    <img src={{this.noviServiser!.slikaKorisnikaNovaString}} height="200" width="200" alt="Nova Slika" class="slika" />
  </div>

  <!-- submit changes when everything is fine and valid -->

  <div class="div-button">
    <button type="submit" class="btn-zatvori" (click)="closeEdit()">
      Zatvori
    </button>
    <button type="submit" class="btn-save" (click)="dodajServiser(addForm)">
      Snimi
    </button>
  </div>

</form>