@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  user-select: none;
}
.div-table {
  width: 90%;
  background-color: #364049;
  height: fit-content;
  margin: 0 auto;
  box-shadow: 3px -2px 13px 0 rgba(0,0,0,0.75);
}
.div-table input {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
td {
  color: white;
}
td button {
  border: none;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  margin-right: 10px;
  width: 80px;
  height: 40px;
  transition: 0.2s ease-in;
}
td button:hover {
  background-color: #516269;
  color: white;
}
td .brisiServiser:hover {
  background-color: indianred;;
  color: white;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

form {
  box-shadow: 3px -2px 13px 0 rgba(0,0,0,0.75);
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 30px;
  background-color: #000408;
  color: white;
  font-size: 1.1rem;
}
form input {
  padding: 7px;
  font-size: 1rem;
  border-radius: 0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  color: #000408;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.form-group label {
  width: 120px;
  margin-right: 10px;
}

.form-control {
  flex: 1;
  padding: 5px 10px;
}

.btn-save,
.btn-zatvori,
.dodaj{
  background-color: white;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 0;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.2s ease;
}

.btn-save,
.btn-zatvori {
  width: 20%;
}
.dodaj{
  margin-bottom: 30px;
}

.select-grad {
  width: 200px;
  padding: 15px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0;
  font-family: "Space Grotesk", sans-serif;
}
select option {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0;
}

.greska-div{
  width: 70%;
  margin-left: 13.5%;
  color:indianred;
  font-weight: 600;
  margin-bottom: 20px;
}

.dodaj:hover{
  background-color: #516269;
  color: white;
}

.div-button{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px
}

.btn-save {
  background-color: #516269;
  color: white;
  transition: 0.18s ease-in;
}

.btn-save:hover {
  background-color: #262f32;
  color: white;
}

.btn-zatvori {
  background-color: indianred;
  color: white;
  transition: 0.18s ease-in;
}

.btn-zatvori:hover {
  background-color: #753030;
  color: white;
}

form h1 {
  text-align: center;
  margin-bottom: 40px;
}
