.AboutUs-section {
  background-color: #000408;
  padding: 50px;
  color: white;
  user-select: none;
}

.AboutUs-section div {
  max-width: 1200px;
  margin: 0 auto;
}
.AboutUs-section div h1 {
  font-size: 3.4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.AboutUs-section div p {
  font-size: 1.3rem;
  line-height: 3rem;
  margin-bottom: 4rem;
}
.h1-prim {
  color: #6C7F8D;
}
