<section id="AboutUs" class="AboutUs-section">
  <div class="AboutUs">
    <h1 class="h1-prim">#About Us</h1>
    <h1>Vaš pouzdani servisni centar za IT rješenja</h1>
    <p>
      Dobrodošli u IT SERVICE CENTER , Vaš servisni centar za sve IT potrebe.
      Nudimo širok spektar usluga za popravak i održavanje različitih
      tehnoloških uređaja, uključujući: Računara: Dijagnoza i popravak PC-a i
      Mac računara, nadogradnja hardvera, instalacija softvera, uklanjanje
      virusa i još mnogo toga. Mobiteli: Popravak slomljenih ekrana, zamjena
      baterija, otključavanje mobitela, softverska rješenja i servisiranje
      različitih modela mobitela. Tableti: Popravak ekrana, zamjena baterija,
      dijagnostika i rješavanje softverskih problema. Druga tehnologija:
      Servisiranje i popravak printera, skenera, routera, kamera i ostale
      tehnološke opreme.
    </p>
  </div>
</section>
